/* [project]/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-border-style: solid;
      --tw-gradient-position: initial;
      --tw-gradient-from: #0000;
      --tw-gradient-via: #0000;
      --tw-gradient-to: #0000;
      --tw-gradient-stops: initial;
      --tw-gradient-via-stops: initial;
      --tw-gradient-from-position: 0%;
      --tw-gradient-via-position: 50%;
      --tw-gradient-to-position: 100%;
      --tw-leading: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top-\[-15\%\] {
  top: -15%;
}

.top-\[10\%\] {
  top: 10%;
}

.right-\[-10\%\] {
  right: -10%;
}

.bottom-\[-5\%\] {
  bottom: -5%;
}

.bottom-\[-10\%\] {
  bottom: -10%;
}

.left-\[-15\%\] {
  left: -15%;
}

.left-\[-20\%\] {
  left: -20%;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-inline: auto;
}

.mt-\[36px\] {
  margin-top: 36px;
}

.mt-\[48px\] {
  margin-top: 48px;
}

.mb-\[80px\] {
  margin-bottom: 80px;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.aspect-\[4\/5\] {
  aspect-ratio: 4 / 5;
}

.h-\[1\.5px\] {
  height: 1.5px;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[40\%\] {
  height: 40%;
}

.h-\[50\%\] {
  height: 50%;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[100dvh\] {
  height: 100dvh;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[280px\] {
  height: 280px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-dvh {
  min-height: 100dvh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[75\%\] {
  width: 75%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[200px\] {
  width: 200px;
}

.w-full {
  width: 100%;
}

.max-w-\[85\%\] {
  max-width: 85%;
}

.max-w-\[90\%\] {
  max-width: 90%;
}

.max-w-\[280px\] {
  max-width: 280px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[430px\] {
  max-width: 430px;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0, .shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.translate-x-full {
  --tw-translate-x: 100%;
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[60px\] {
  gap: 60px;
}

.self-start {
  align-self: flex-start;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[28px\] {
  border-radius: 28px;
}

.rounded-full {
  border-radius: 3.40282e38px;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.border-2 {
  border-style: var(--tw-border-style);
  border-width: 2px;
}

.border-4 {
  border-style: var(--tw-border-style);
  border-width: 4px;
}

.border-t {
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
}

.border-b {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

.border-l {
  border-left-style: var(--tw-border-style);
  border-left-width: 1px;
}

.border-none {
  --tw-border-style: none;
  border-style: none;
}

.border-\[\#00ff88\]\/40 {
  border-color: #0f86;
  border-color: lab(88.5341% -71.4551 41.9197 / .4);
}

.border-\[\#2EFAD9\] {
  border-color: #2efad9;
}

.border-\[\#2bbdee\] {
  border-color: #2bbdee;
}

.border-\[\#ff3d71\]\/40 {
  border-color: #ff3d7166;
  border-color: lab(58.5982% 74.0726 18.859 / .4);
}

.border-\[\#ffd700\]\/40 {
  border-color: #ffd70066;
  border-color: lab(87.4679% 2.90984 86.5527 / .4);
}

.border-t-transparent {
  border-top-color: #0000;
}

.bg-\[\#0a0b1e\] {
  background-color: #0a0b1e;
}

.bg-\[\#0a0b1e\]\/90 {
  background-color: #0a0b1ee6;
  background-color: lab(3.48803% 3.01421 -11.7796 / .9);
}

.bg-\[\#0e0f24\] {
  background-color: #0e0f24;
}

.bg-\[\#0f111a\] {
  background-color: #0f111a;
}

.bg-\[\#00ff88\] {
  background-color: #0f8;
}

.bg-\[\#00ff88\]\/10 {
  background-color: #00ff881a;
  background-color: lab(88.5341% -71.4551 41.9197 / .1);
}

.bg-\[\#1a1f2e\] {
  background-color: #1a1f2e;
}

.bg-\[\#1a1f35\] {
  background-color: #1a1f35;
}

.bg-\[\#2EFAD9\] {
  background-color: #2efad9;
}

.bg-\[\#2bbdee\] {
  background-color: #2bbdee;
}

.bg-\[\#2bbdee\]\/5 {
  background-color: #2bbdee0d;
  background-color: lab(71.0096% -25.71 -35.6662 / .05);
}

.bg-\[\#2bbdee\]\/10 {
  background-color: #2bbdee1a;
  background-color: lab(71.0096% -25.71 -35.6662 / .1);
}

.bg-\[\#a855f7\] {
  background-color: #a855f7;
}

.bg-\[\#a855f7\]\/5 {
  background-color: #a855f70d;
  background-color: lab(52.7991% 56.2741 -68.7519 / .05);
}

.bg-\[\#ff3d71\] {
  background-color: #ff3d71;
}

.bg-\[\#ff3d71\]\/5 {
  background-color: #ff3d710d;
  background-color: lab(58.5982% 74.0726 18.859 / .05);
}

.bg-\[\#ff3d71\]\/10 {
  background-color: #ff3d711a;
  background-color: lab(58.5982% 74.0726 18.859 / .1);
}

.bg-\[\#ffd700\] {
  background-color: gold;
}

.bg-\[\#ffd700\]\/10 {
  background-color: #ffd7001a;
  background-color: lab(87.4679% 2.90984 86.5527 / .1);
}

.bg-transparent {
  background-color: #0000;
}

.bg-gradient-to-br {
  --tw-gradient-position: to bottom right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  --tw-gradient-position: to right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-t {
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.from-\[\#0f111a\] {
  --tw-gradient-from: #0f111a;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#1e293b\] {
  --tw-gradient-from: #1e293b;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#2bbdee\] {
  --tw-gradient-from: #2bbdee;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#ff3d71\] {
  --tw-gradient-from: #ff3d71;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#0a0b1e\] {
  --tw-gradient-to: #0a0b1e;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#3facee\] {
  --tw-gradient-to: #3facee;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#a855f7\] {
  --tw-gradient-to: #a855f7;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-transparent {
  --tw-gradient-to: transparent;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.bg-cover {
  background-size: cover;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.bg-center {
  background-position: center;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.p-\[24px\] {
  padding: 24px;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pb-\[100px\] {
  padding-bottom: 100px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-\[9px\] {
  font-size: 9px;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.leading-\[1\.5\] {
  --tw-leading: 1.5;
  line-height: 1.5;
}

.leading-\[1\.6\] {
  --tw-leading: 1.6;
  line-height: 1.6;
}

.leading-\[1\.8\] {
  --tw-leading: 1.8;
  line-height: 1.8;
}

.leading-\[2\] {
  --tw-leading: 2;
  line-height: 2;
}

.leading-none {
  --tw-leading: 1;
  line-height: 1;
}

.tracking-\[0\.2em\] {
  --tw-tracking: .2em;
  letter-spacing: .2em;
}

.break-keep {
  word-break: keep-all;
}

.text-\[\#0a0b1e\] {
  color: #0a0b1e;
}

.text-\[\#0f111a\] {
  color: #0f111a;
}

.text-\[\#00ff88\] {
  color: #0f8;
}

.text-\[\#2EFAD9\] {
  color: #2efad9;
}

.text-\[\#2bbdee\] {
  color: #2bbdee;
}

.text-\[\#2bbdee\]\/80 {
  color: #2bbdeecc;
  color: lab(71.0096% -25.71 -35.6662 / .8);
}

.text-\[\#CBD5E1\] {
  color: #cbd5e1;
}

.text-\[\#E270CA\] {
  color: #e270ca;
}

.text-\[\#ff3d71\] {
  color: #ff3d71;
}

.text-\[\#ffd700\] {
  color: gold;
}

.text-transparent {
  color: #0000;
}

.uppercase {
  text-transform: uppercase;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-20 {
  opacity: .2;
}

.opacity-90 {
  opacity: .9;
}

.shadow-\[0_0_12px_rgba\(43\,189\,238\,0\.35\)\] {
  --tw-shadow: 0 0 12px var(--tw-shadow-color, #2bbdee59);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_15px_rgba\(255\,61\,113\,0\.6\)\] {
  --tw-shadow: 0 0 15px var(--tw-shadow-color, #ff3d7199);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_8px_24px_rgba\(43\,189\,238\,0\.35\)\] {
  --tw-shadow: 0 8px 24px var(--tw-shadow-color, #2bbdee59);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.blur-\[70px\] {
  --tw-blur: blur(70px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[80px\] {
  --tw-blur: blur(80px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[100px\] {
  --tw-blur: blur(100px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[110px\] {
  --tw-blur: blur(110px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[130px\] {
  --tw-blur: blur(130px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.filter {
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-all {
  transition-property: all;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-colors {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-transform {
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.duration-300 {
  --tw-duration: .3s;
  transition-duration: .3s;
}

.duration-500 {
  --tw-duration: .5s;
  transition-duration: .5s;
}

.outline-none {
  --tw-outline-style: none;
  outline-style: none;
}

@media (hover: hover) {
  .group-hover\:scale-105:is(:where(.group):hover *) {
    --tw-scale-x: 105%;
    --tw-scale-y: 105%;
    --tw-scale-z: 105%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
  }
}

@media (hover: hover) {
  .group-hover\:bg-\[\#ff3d71\]:is(:where(.group):hover *) {
    background-color: #ff3d71;
  }
}

@media (hover: hover) {
  .group-hover\:shadow-\[0_0_12px_rgba\(255\,61\,113\,0\.35\)\]:is(:where(.group):hover *) {
    --tw-shadow: 0 0 12px var(--tw-shadow-color, #ff3d7159);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#ff3d71\]\/20:hover {
    background-color: #ff3d7133;
    background-color: lab(58.5982% 74.0726 18.859 / .2);
  }
}

.focus\:outline-none:focus {
  --tw-outline-style: none;
  outline-style: none;
}

.active\:scale-95:active {
  --tw-scale-x: 95%;
  --tw-scale-y: 95%;
  --tw-scale-z: 95%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
}

.active\:scale-\[0\.97\]:active {
  scale: .97;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100dvh;
  overflow-x: hidden;
}

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0b1e;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-gradient-position {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-via {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-to {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-via-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --tw-gradient-via-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --tw-gradient-to-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

/*# sourceMappingURL=app_globals_css_bad6b30c._.single.css.map*/